<head>
    <style>
        .kutuphane-fotografi {
            width: 100%;
            height: 100%;
            background-image: url('path/to/kutuphane-fotografi.jpg');
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

</head>
<body>
    <div class="kutuphane-fotografi">
        <img src="~/img/kutuphaneler-dublin-633x433.jpg" />
    </div>
</body>