@model Author

@if (ViewBag.Info is not null)
{
    <h3 class="text-center text-danger">@ViewBag.Info</h3>
}

<form method="post" asp-action="Update" asp-controller="Author">
    <input type="hidden" asp-for="ID" />
    <div>
        <label>Author Name:</label>
        <input asp-for="Name" class="form-control" placeholder="@Model.Name" />
        <span asp-validation-for="Name" style="color:darkred" />
    </div>
    <div>
        <label>BirthDate:</label>
        <input asp-for="BirthDate" class="form-control" placeholder="@Model.BirthDate" />
        <span asp-validation-for="BirthDate" style="color:darkred" />
    </div>
    <div>
        <label>DeathDate:</label>
        <input asp-for="DeathDate" class="form-control" placeholder="@Model.DeathDate" />
        <span asp-validation-for="DeathDate" style="color:darkred" />
    </div>
    <br />
    <div class="text-center">
        <button type="submit" class="btn btn-outline-primary">Update</button>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
